$primary: #222;
$text: #666;
$background: #fefefe;

html{
    font-size:62.5%;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 2.0rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    font-weight: 300;
    color: $text;
    background: $background;
}

strong {
    font-weight: 700;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: $primary;
}

h1 {
    font-weight: 300;
    font-size: 5.2rem;
    text-align: center;
    border-bottom: 1px solid $primary;
}